$base-background-color: #ffffff;
$uh-primary-green: #024731;
$uh-secondary-color: #333;

$link-color-light: #fff;
$off-white: #e7e7e7;

/* Based on Bootstrap Breakpoints */
$xsmall-device-breakpoint: 320px;
$small-device-breakpoint: 576px;
// Medium devices (tablets, 768px and up)
$medium-device-breakpoint: 768px;
// Large devices (desktops, 992px and up)
$large-device-breakpoint: 992px;
// Extra large devices (large desktops, 1200px and up)
$xlarge-device-breakpoint: 1200px;
